:root {
  --color-dark: #444;
  --color-light: #ddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-dark);
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

li time {
  margin-right: 4px;
}

.Container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 16px;
}

.Avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 540px) {
  .Avatar {
    float: right;
    margin-left: 32px;
    margin-bottom: 32px;
  }
}

.AccountList li {
  display: flex;
  place-items: center;
}

.AccountList img {
  margin: 0 4px;
  width: 24px;
  height: 24px;
}

.BookImageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.BookImageList li {
  margin-right: 16px;
}

.BookImageList img {
  width: 120px;
  aspect-ratio: 35 / 50;
  border: solid 1px var(--color-dark);
}

.Label {
  margin: 2px;
  padding: 2px 4px;
  font-size: 0.8em;
  border-radius: 0.25em;
}

.Label.-date {
  background-color: #eee;
}

.Label.-article {
  background-color: pink;
}

.Label.-story {
  background-color: khaki;
}

.Label.-talk {
  background-color: powderblue;
}
