:root {
  --color-dark: #444;
  --color-light: #ddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: var(--color-dark);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

li time {
  margin-right: 4px;
}

.Container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 16px;
}

.Avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 540px) {
  .Avatar {
    float: right;
    margin-left: 32px;
    margin-bottom: 32px;
  }
}

.AccountList {
  display: flex;
}

.AccountList img {
  margin: 4px;
  width: 32px;
  height: 32px;
}

.TalkList {
  position: relative;
}

.TalkList + .TalkList {
  margin-top: 32px;
}

.TalkList::before {
  position: absolute;
  z-index: -1;
  top: -0.5em;
  right: 0;
  content: attr(data-year);
  color: var(--color-light);
  font-size: 2em;
}

.TalkList::after {
  position: absolute;
  z-index: -1;
  top: 2em;
  right: 2em;
  content: "";
  border-right: dashed 3px var(--color-light);
  height: calc(100% - 2em);
}
