:root {
  --color-dark: #444;
  --color-light: #ddd;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-dark);
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.6;
}

.Container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

.Avatar {
  width: 240px;
  height: 240px;
}

@media (min-width: 540px) {
  .Avatar {
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

.AccountList {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.AccountList img {
  margin: 4px;
  width: 48px;
  height: 48px;
}

.TalkList {
  position: relative;
  padding-left: 2em;
}

.TalkList::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  content: attr(data-year);
  color: var(--color-light);
  font-size: 2em;
}

.TalkList::after {
  position: absolute;
  z-index: -1;
  top: 3em;
  right: 2em;
  content: "";
  border-right: dashed 3px var(--color-light);
  height: calc(100% - 3em);
}

.BookList {
  padding-left: 2em;
}
