:root {
  --color-dark: #444;
  --color-light: #ddd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-underline-offset: 0.3em;

  /* Therse are specifically defined besides upcoming Chromium behaves as default */
  text-autospace: normal;
  text-spacing-trim: auto;
}

body {
  margin: 0;
  color: var(--color-dark);

  /* Noto Sans is bundled on Windows 10/11 https://blogs.windows.com/windows-insider/2025/03/13/releasing-windows-11-build-22631-5116-to-the-release-preview-channel/ */
  font-family: "Noto Sans", "Noto Sans CJK JP", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

a:any-link {
  text-decoration: underline;
  text-decoration-color: oklch(67% 0 0deg);
  text-decoration-thickness: 1px;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

li time {
  margin-right: 4px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;

  h1 {
    margin-bottom: 0;
  }

  nav {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
  }
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  float: right;
  shape-outside: circle(50%);
  margin-left: 1em;
  margin-bottom: 1em;
}

.account-list {
  a {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    line-height: 0;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.book-image-list {
  display: flex;
  flex-flow: row wrap;

  li {
    margin-right: 0.5em;
  }

  img {
    width: 120px;
    aspect-ratio: 35 / 50;
    border: solid 1px var(--color-dark);
  }
}

.label {
  margin: 2px;
  padding: 2px 4px;
  font-size: 0.8em;
  border-radius: 0.25em;

  &.label-date {
    background-color: #eee;
  }

  &.label-article {
    background-color: pink;
  }

  &.label-story {
    background-color: khaki;
  }

  &.label-talk {
    background-color: powderblue;
  }
}
